<body>
  <section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        voluptas quia numquam sint esse facilis corrupti nemo fugiat pariatur
        rem?
      </p>
    </header>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">card title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum minima
          qui quibusdam explicabo tempore suscipit quo, deleniti a ad modi.
        </div>
      </div>
    </div>
  </section>

  <section class="block block--dark block--skewed-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        voluptas quia numquam sint esse facilis corrupti nemo fugiat pariatur
        rem?
      </p>
    </div>
  </section>
</body>
